@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 200px;
    color: #eee;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: none;
    list-style: none;
    box-shadow: 2px 3px 3px #444;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    font-weight: 100;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: rgba(0, 0, 0, 0.2);
}

/* ---------- Settings module ---------- */

.settings_panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    background: rgb(130, 195, 238);
    border-bottom: solid 1px rgb(39, 130, 190);
    box-shadow: 0 2px 3px #444;
    transition: .3s linear;
}

.settings_panel.show {
    top: 0;
}

.settings_panel div {
    margin: 10px;
    display: flex;
    align-items: center;
}

.settings_panel div input {
    margin: 10px;
}

.model_block {
    position: fixed;
    z-index: 100;
    display: none;
}

.model_block.show {
    display: block;
}

#close_button {
    position: relative;
    top: 470px;
    left: 140px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: rgb(130, 195, 238);
    border-radius: 50%;
    box-shadow: 2px 2px 3px #444;
    cursor: pointer;
    display: none;
}

#ld {
    position: relative;
    top: 25px;
    border-top: solid 1px #fff;
    transform: rotate(45deg);
}

#rd {
    position: relative;
    top: 25px;
    border-top: solid 1px #fff;
    transform: rotate(-45deg);
}

#close_button.show {
    display: block;
}

/* ---------- Click module ---------- */

#count{
    position: absolute;
    top: 20px;
    left: 20px;
    background: lightgray;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

#timer{
    position: absolute;
    top: 20px;
    right: 20px;
    background: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #eeeeee;
}

.blockResult{
    background: #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 3px 3px #444444;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;

    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.close{
    display: none;
}

/* ---------- Nasa module ---------- */

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blockImage{
    position: relative;
    margin: 10px;
}

.img{
    width: 200px;
    height: 200px;
    transition: all .5s ease-out;
}

.img:hover{
    transform: scale(1.2);
}

.date{
    position: absolute;
    top: 180px;
    left: 10px;
}
